* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: lightblue;
}

h1 {
    text-align: center;
    padding-top: 50px;
}

.container {
    display: flex;
    height: 450px;
    width: 650px;
    margin: auto;
    border-radius: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 10px 0 0 10px;
}

.form h2 {
    font-size: 25px;
    text-shadow: 0 0 15px;
    margin-top: 50px;
}

.form p {
    padding: 10px 0 20px;
    color: rgb(163, 156, 156);

}

.box {
    padding: 10px;
    width: 70%;
    margin: 5px;
    border: 1px solid rgb(139, 134, 134);
    background-color: rgb(210, 221, 224);
    border-radius: 18px;
    outline: none;
}

#submit {
    padding: 12px 30px;
    width: 70%;
    border: none;
    margin: 5px;
    background-color: rgb(51, 51, 238);
    border-radius: 20px;
    color: white;
}

#submit:hover {
    background-color: white;
    border: 1px solid rgb(51, 51, 238);
    color: rgb(51, 51, 238);
}

.form .p2 {
    color: rgb(175, 170, 170);
    padding: 20px;

}

.form .p3 {
    color: rgb(175, 170, 170);
    padding-top: 25px;

}

.form a {
    text-decoration: none;
    color: lightsalmon;

}

.form a:hover {
    background-color: rgba(240, 128, 128, 0.573);
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.img img {
    height: 450px;
    width: 400px;
    border-radius: 0 10px 10px 0;
}